body {
  background-color: #ffb300;
  text-align: center;
  margin: 20px;
  font-family: "Nunito", sans-serif;
  /* Fonte do menu */
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: black;
  /* Muda a cor do link */
  text-decoration: none;
  /* Remove o sublinhado */
  margin-right: 20px;
  /* Espaçamento horizontal entre os links */
}

.container {
  background-color: #febc21;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  flex-grow: 1;
  border-radius: 2%;
}

.logo {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-size: 45px;
  font-style: normal;
  text-align: center;
  /* Centraliza o conteúdo horizontalmente */
  padding: 10px;
  color: #161709 !important;
  /* Define a cor que você quiser - !important; quer dizer que é para colocar como prioridade*/
  text-decoration: none !important;
  /* Remove o sublinhado */
}

a.logo {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-size: 45px;
  font-style: normal;
  text-align: center;
  /* Centraliza o conteúdo horizontalmente */
  padding: 10px;
  color: #333509 !important;
  /* Define a cor que você quiser - !important; quer dizer que é para colocar como prioridade*/
  text-decoration: none !important;
  /* Remove o sublinhado */
}



.menu a {
  font-family: "WDXL Lubrifont JP N", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  /* Muda a cor do link */
  text-decoration: none;
  /* Remove o sublinhado */
  margin-right: 20px;
  /* Espaçamento horizontal entre os links */
}

/*estilos pagina de perguntas*/
.caixa-perguntas {
  color: #333509;

}

textarea {
  font-family: "Edu NSW ACT Hand Pre";
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}

textarea:focus {
  text-decoration-color: aliceblue;
  border: 2px solid #d7df23;
  /* Borda ao clicar dentro */
  outline: none;
  /* Remove a borda preta automática (outline) */
}

textarea.prof{
  text-decoration-color: rgb(115, 48, 170);
  background-color: #f8f0fa;
  border: 2px solid #d7df23;
  /* Borda ao clicar dentro */
  outline: none;
  /* Remove a borda preta automática (outline) */
}

textarea.aluno{
  text-decoration-color: rgb(115, 48, 170);
  background-color: #f8f0fa;
  border: 2px solid #d7df23;
  /* Borda ao clicar dentro */
  outline: none;
  /* Remove a borda preta automática (outline) */
}

label {
  font-family: "Edu NSW ACT Hand Pre";
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}

select {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* Espaço entre letras */
  background-color: #d090ff;
  /* Cor de fundo */
  color: white;
  /* Cor da fonte */
  border: 2px solid purple;
  /* Borda */
  padding: 5px 8px;
  /* Espaço interno */
  border-radius: 5px;
  /* Cantos arredondados */
  font-size: 12px;
  /* Tamanho da fonte */
  appearance: none;
  /* Remove o estilo padrão da seta no Chrome e Firefox */
  -webkit-appearance: none;
  /* Para Safari */
  -moz-appearance: none;
  /* Para Firefox */

}

select:hover {
  color: rgb(139, 118, 0);
  cursor: pointer;
}

.perguntas {
  background-color: #c66fff;
  border-color: #d7df23;
}

button {
  font-family: "Oswald", sans-serif;
  border: 2px solid purple;
  background-color: #d2d860;
  border-radius: 5px;
}

.topo {

  font-weight: 40;
  font-size: 45px;
  font-style: normal;
  text-align: center;
  /* Centraliza o conteúdo horizontalmente */
  padding: 10px;
  /*é o espaço entre o conteúdo (texto, imagem, etc) e a borda do elemento*/
  color: #fe866b !important;
  /* Define a cor que você quiser - !important; quer dizer que é para colocar como prioridade*/
  text-decoration: none !important;
  /* Remove o sublinhado */
}

.topoicon {
  color: #d7df23;

}

footer{
  position: fixed;
  bottom:0;
  left: 0%;
  right: 0%;
}
.rodape{
  background-color: #fdbf2d;
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}